In [5]:
import pandas as pd
import numpy as np

file_1 = "Resources/1_county_data.csv"
file_2 = "Resources/2_directory.csv"
file_3 = "Resources/4_zip_codes_us_only.csv"

In [6]:
df_1 = pd.read_csv(file_1)
df_2 = pd.read_csv(file_2)
df_3 = pd.read_csv(file_3)

In [7]:
df_1.head()
clean_df_1 = df_1[["State", "TotalPop", "WorkAtHome", "Employed","Unemployment"]].copy()

In [8]:
clean_df_2 = df_2[["Store Number", "State/Province", "Country", "Longitude","Longitude"]].copy()
clean_df_2 = clean_df_2.loc[clean_df_2["Country"]=="US"].drop(columns="Country")
clean_df_2

       Store Number State/Province  Longitude  Longitude
11964   3513-125945             AK    -149.78    -149.78
11965   74352-84449             AK    -149.84    -149.84
11966  12449-152385             AK    -149.85    -149.85
11967  24936-233524             AK    -149.89    -149.89
11968    8973-85630             AK    -149.86    -149.86
...             ...            ...        ...        ...
25567   74385-87621             WY    -105.59    -105.59
25568   73320-24375             WY    -105.56    -105.56
25569  22425-219024             WY    -105.56    -105.56
25570  10849-103163             WY    -109.25    -109.25
25571  10769-102454             WY    -106.94    -106.94

[13608 rows x 4 columns]

In [9]:
df_3.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,1001,42.06258,-72.62590,Agawam,MA,Massachusetts,True,NaN,17621,562.8,25013,Hampden,{'25013':100},Hampden,25013,False,False,America/New_York
1,1002,42.37492,-72.46210,Amherst,MA,Massachusetts,True,NaN,30066,203.7,25015,Hampshire,"{'25011':0.97,'25015':99.03}",Hampshire|Franklin,25015|25011,False,False,America/New_York
2,1003,42.39192,-72.52479,Amherst,MA,Massachusetts,True,NaN,11238,5629.7,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York
3,1005,42.42018,-72.10615,Barre,MA,Massachusetts,True,NaN,4991,44.3,25027,Worcester,{'25027':100},Worcester,25027,False,False,America/New_York
4,1007,42.27875,-72.40036,Belchertown,MA,Massachusetts,True,NaN,14967,107.5,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York

In [10]:
zip_gr = df_3.groupby(["state_id","state_name"]).count()["zip"]
state_df = pd.DataFrame(zip_gr).reset_index().drop(columns="zip")
state_df

   state_id      state_name
0        AK          Alaska
1        AL         Alabama
2        AR        Arkansas
3        AZ         Arizona
4        CA      California
5        CO        Colorado
6        CT     Connecticut
7        DE        Delaware
8        FL         Florida
9        GA         Georgia
10       HI          Hawaii
11       IA            Iowa
12       ID           Idaho
13       IL        Illinois
14       IN         Indiana
15       KS          Kansas
16       KY        Kentucky
17       LA       Louisiana
18       MA   Massachusetts
19       MD        Maryland
20       ME           Maine
21       MI        Michigan
22       MN       Minnesota
23       MO        Missouri
24       MS     Mississippi
25       MT         Montana
26       NC  North Carolina
27       ND    North Dakota
28       NE        Nebraska
29       NH   New Hampshire
30       NJ      New Jersey
31       NM      New Mexico
32       NV          Nevada
33       NY        New York
34       OH            Ohio
35       OK        Oklahoma
36       OR          Oregon
37       PA    Pennsylvania
38       RI    Rhode Island
39       SC  South Carolina
40       SD    South Dakota
41       TN       Tennessee
42       TX           Texas
43       UT            Utah
44       VA        Virginia
45       VT         Vermont
46       WA      Washington
47       WI       Wisconsin
48       WV   West Virginia
49       WY         Wyoming

In [ ]:
original_df = pd.read_csv(file)
original_df.head()

In [ ]:
# Merge two dataframes using an inner join
merge_df = pd.merge(info_df, items_df, on="customer_id")
merge_df

In [ ]:
# Merge two dataframes using an outer join
merge_df = pd.merge(info_df, items_df, on="customer_id", how="outer")
merge_df