In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from scipy.stats import linregress

file_1 = "Resources/1_county_data.csv"
file_2 = "Resources/2_directory.csv"
file_3 = "Resources/4_zip_codes_us_only.csv"

In [2]:
df_1 = pd.read_csv(file_1)
df_2 = pd.read_csv(file_2)
df_3 = pd.read_csv(file_3)

In [19]:
clean_df_1 = df_1[["State", "TotalPop", "WorkAtHome", "Employed","Unemployment"]].copy()
GrBy_Sum = clean_df_1.groupby("State").sum()
Avg_By = clean_df_1.groupby("State").mean()

clean_df_1 = pd.DataFrame({
    "TotalPop" : GrBy_Sum["TotalPop"],
    "WorkAtHome" : Avg_By["WorkAtHome"],
    "Employed" : (GrBy_Sum["Employed"] / GrBy_Sum["TotalPop"])*100,
    "Unemployment" : Avg_By["Unemployment"],
}).reset_index()
clean_df_1

                   State  TotalPop  WorkAtHome   Employed  Unemployment
0                Alabama   4850771    2.528358  42.374893      9.023881
1                 Alaska    738565    5.455172  47.936878      9.655172
2                Arizona   6809946    5.033333  43.376130      9.766667
3               Arkansas   2977944    3.250667  42.866353      7.292000
4             California  38982847    6.668966  46.158545      8.265517
5               Colorado   5436519    8.025000  50.769178      5.793750
6            Connecticut   3594478    4.862500  50.218307      6.775000
7               Delaware    943732    4.666667  46.783727      6.433333
8   District of Columbia    672391    5.700000  53.198362      8.000000
9                Florida  20278447    5.008955  44.473672      7.765672
10               Georgia  10201635    3.611321  45.152850      8.053459
11                Hawaii   1421658    6.020000  47.251730      4.120000
12                 Idaho   1657375    6.245455  45.171310      5.622727
13              Illinois  12854526    4.141176  48.089311      6.611765
14               Indiana   6614418    3.455435  47.234617      5.445652
15                  Iowa   3118102    5.386869  51.304223      3.895960
16                Kansas   2903820    5.316190  48.902652      3.990476
17              Kentucky   4424376    3.198333  43.806177      7.672500
18             Louisiana   4663461    2.267188  43.556449      7.871875
19                 Maine   1330158    5.700000  49.519907      5.800000
20              Maryland   5996079    4.758333  50.713008      6.120833
21         Massachusetts   6789319    5.378571  51.929685      5.842857
22              Michigan   9925568    4.408434  45.588061      7.620482
23             Minnesota   5490726    6.078161  52.891057      3.954023
24           Mississippi   2986220    2.067073  40.915539     10.007317
25              Missouri   6075300    4.918261  47.197554      6.026087
26               Montana   1029862   10.148214  48.355508      4.525000
27              Nebraska   1893921    8.433333  52.125511      2.847312
28                Nevada   2887725    4.617647  46.450337      7.394118
29         New Hampshire   1331848    5.960000  53.566473      4.540000
30            New Jersey   8960161    4.252381  48.972602      7.119048
31            New Mexico   2084828    6.178788  42.171393      7.566667
32              New York  19798228    4.196774  47.820598      6.577419
33        North Carolina  10052564    3.935000  45.471185      7.965000
34          North Dakota    745475    8.790566  53.717965      2.728302
35                  Ohio  11609756    3.563636  47.272139      6.084091
36              Oklahoma   3896251    3.897403  44.823062      5.853247
37                Oregon   4025127    6.933333  46.855242      7.455556
38          Pennsylvania  12790505    4.217910  47.667993      6.031343
39           Puerto Rico   3468963    2.075641  29.984062     18.814103
40          Rhode Island   1056138    4.560000  49.810820      5.860000
41        South Carolina   4893444    3.032609  44.570777      8.773913
42          South Dakota    855444    9.622727  51.241110      4.821212
43             Tennessee   6597381    3.618947  45.421206      7.344211
44                 Texas  27419612    3.991732  46.277347      6.028346
45                  Utah   2993941    6.103448  47.169066      4.365517
46               Vermont    624636    7.421429  52.392754      4.528571
47              Virginia   8365952    4.343609  48.817337      6.033835
48            Washington   7169967    6.228205  47.672786      6.702564
49         West Virginia   1836843    3.254545  40.665315      8.063636
50             Wisconsin   5763217    5.268056  51.011093      4.570833
51               Wyoming    583200    5.860870  50.348594      4.282609

In [4]:
clean_df_2 = df_2[["Store Number", "State/Province", "Country", "Longitude","Latitude"]].copy()
clean_df_2 = clean_df_2.loc[clean_df_2["Country"]=="US"].drop(columns="Country")
clean_df_2

       Store Number State/Province  Longitude  Latitude
11964   3513-125945             AK    -149.78     61.21
11965   74352-84449             AK    -149.84     61.14
11966  12449-152385             AK    -149.85     61.11
11967  24936-233524             AK    -149.89     61.13
11968    8973-85630             AK    -149.86     61.14
...             ...            ...        ...       ...
25567   74385-87621             WY    -105.59     41.32
25568   73320-24375             WY    -105.56     41.31
25569  22425-219024             WY    -105.56     41.31
25570  10849-103163             WY    -109.25     41.58
25571  10769-102454             WY    -106.94     44.77

[13608 rows x 4 columns]

In [5]:
clean_df_2.rename(columns={"State/Province": "state_id"},inplace=True)
clean_df_2

       Store Number state_id  Longitude  Latitude
11964   3513-125945       AK    -149.78     61.21
11965   74352-84449       AK    -149.84     61.14
11966  12449-152385       AK    -149.85     61.11
11967  24936-233524       AK    -149.89     61.13
11968    8973-85630       AK    -149.86     61.14
...             ...      ...        ...       ...
25567   74385-87621       WY    -105.59     41.32
25568   73320-24375       WY    -105.56     41.31
25569  22425-219024       WY    -105.56     41.31
25570  10849-103163       WY    -109.25     41.58
25571  10769-102454       WY    -106.94     44.77

[13608 rows x 4 columns]

In [6]:
df_3.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,1001,42.06258,-72.62590,Agawam,MA,Massachusetts,True,NaN,17621,562.8,25013,Hampden,{'25013':100},Hampden,25013,False,False,America/New_York
1,1002,42.37492,-72.46210,Amherst,MA,Massachusetts,True,NaN,30066,203.7,25015,Hampshire,"{'25011':0.97,'25015':99.03}",Hampshire|Franklin,25015|25011,False,False,America/New_York
2,1003,42.39192,-72.52479,Amherst,MA,Massachusetts,True,NaN,11238,5629.7,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York
3,1005,42.42018,-72.10615,Barre,MA,Massachusetts,True,NaN,4991,44.3,25027,Worcester,{'25027':100},Worcester,25027,False,False,America/New_York
4,1007,42.27875,-72.40036,Belchertown,MA,Massachusetts,True,NaN,14967,107.5,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York

In [8]:
zip_gr = df_3.groupby(["state_id","state_name"]).count()["zip"]
state_df = pd.DataFrame(zip_gr).reset_index().drop(columns="zip")
state_df.rename(columns={"state_name": "State"},inplace=True)
state_df

   state_id           State
0        AK          Alaska
1        AL         Alabama
2        AR        Arkansas
3        AZ         Arizona
4        CA      California
5        CO        Colorado
6        CT     Connecticut
7        DE        Delaware
8        FL         Florida
9        GA         Georgia
10       HI          Hawaii
11       IA            Iowa
12       ID           Idaho
13       IL        Illinois
14       IN         Indiana
15       KS          Kansas
16       KY        Kentucky
17       LA       Louisiana
18       MA   Massachusetts
19       MD        Maryland
20       ME           Maine
21       MI        Michigan
22       MN       Minnesota
23       MO        Missouri
24       MS     Mississippi
25       MT         Montana
26       NC  North Carolina
27       ND    North Dakota
28       NE        Nebraska
29       NH   New Hampshire
30       NJ      New Jersey
31       NM      New Mexico
32       NV          Nevada
33       NY        New York
34       OH            Ohio
35       OK        Oklahoma
36       OR          Oregon
37       PA    Pennsylvania
38       RI    Rhode Island
39       SC  South Carolina
40       SD    South Dakota
41       TN       Tennessee
42       TX           Texas
43       UT            Utah
44       VA        Virginia
45       VT         Vermont
46       WA      Washington
47       WI       Wisconsin
48       WV   West Virginia
49       WY         Wyoming

In [22]:
merge_df = state_df.merge(clean_df_1, on="State", how="left")
merge_df

   state_id           State  TotalPop  WorkAtHome   Employed  Unemployment
0        AK          Alaska    738565    5.455172  47.936878      9.655172
1        AL         Alabama   4850771    2.528358  42.374893      9.023881
2        AR        Arkansas   2977944    3.250667  42.866353      7.292000
3        AZ         Arizona   6809946    5.033333  43.376130      9.766667
4        CA      California  38982847    6.668966  46.158545      8.265517
5        CO        Colorado   5436519    8.025000  50.769178      5.793750
6        CT     Connecticut   3594478    4.862500  50.218307      6.775000
7        DE        Delaware    943732    4.666667  46.783727      6.433333
8        FL         Florida  20278447    5.008955  44.473672      7.765672
9        GA         Georgia  10201635    3.611321  45.152850      8.053459
10       HI          Hawaii   1421658    6.020000  47.251730      4.120000
11       IA            Iowa   3118102    5.386869  51.304223      3.895960
12       ID           Idaho   1657375    6.245455  45.171310      5.622727
13       IL        Illinois  12854526    4.141176  48.089311      6.611765
14       IN         Indiana   6614418    3.455435  47.234617      5.445652
15       KS          Kansas   2903820    5.316190  48.902652      3.990476
16       KY        Kentucky   4424376    3.198333  43.806177      7.672500
17       LA       Louisiana   4663461    2.267188  43.556449      7.871875
18       MA   Massachusetts   6789319    5.378571  51.929685      5.842857
19       MD        Maryland   5996079    4.758333  50.713008      6.120833
20       ME           Maine   1330158    5.700000  49.519907      5.800000
21       MI        Michigan   9925568    4.408434  45.588061      7.620482
22       MN       Minnesota   5490726    6.078161  52.891057      3.954023
23       MO        Missouri   6075300    4.918261  47.197554      6.026087
24       MS     Mississippi   2986220    2.067073  40.915539     10.007317
25       MT         Montana   1029862   10.148214  48.355508      4.525000
26       NC  North Carolina  10052564    3.935000  45.471185      7.965000
27       ND    North Dakota    745475    8.790566  53.717965      2.728302
28       NE        Nebraska   1893921    8.433333  52.125511      2.847312
29       NH   New Hampshire   1331848    5.960000  53.566473      4.540000
30       NJ      New Jersey   8960161    4.252381  48.972602      7.119048
31       NM      New Mexico   2084828    6.178788  42.171393      7.566667
32       NV          Nevada   2887725    4.617647  46.450337      7.394118
33       NY        New York  19798228    4.196774  47.820598      6.577419
34       OH            Ohio  11609756    3.563636  47.272139      6.084091
35       OK        Oklahoma   3896251    3.897403  44.823062      5.853247
36       OR          Oregon   4025127    6.933333  46.855242      7.455556
37       PA    Pennsylvania  12790505    4.217910  47.667993      6.031343
38       RI    Rhode Island   1056138    4.560000  49.810820      5.860000
39       SC  South Carolina   4893444    3.032609  44.570777      8.773913
40       SD    South Dakota    855444    9.622727  51.241110      4.821212
41       TN       Tennessee   6597381    3.618947  45.421206      7.344211
42       TX           Texas  27419612    3.991732  46.277347      6.028346
43       UT            Utah   2993941    6.103448  47.169066      4.365517
44       VA        Virginia   8365952    4.343609  48.817337      6.033835
45       VT         Vermont    624636    7.421429  52.392754      4.528571
46       WA      Washington   7169967    6.228205  47.672786      6.702564
47       WI       Wisconsin   5763217    5.268056  51.011093      4.570833
48       WV   West Virginia   1836843    3.254545  40.665315      8.063636
49       WY         Wyoming    583200    5.860870  50.348594      4.282609

In [23]:
final_df = clean_df_2.merge(merge_df, on="state_id", how="left")
final_df

,Store Number,state_id,Longitude,Latitude,State,TotalPop,WorkAtHome,Employed,Unemployment
0,3513-125945,AK,-149.78,61.21,Alaska,738565.0,5.455172,47.936878,9.655172
1,74352-84449,AK,-149.84,61.14,Alaska,738565.0,5.455172,47.936878,9.655172
2,12449-152385,AK,-149.85,61.11,Alaska,738565.0,5.455172,47.936878,9.655172
3,24936-233524,AK,-149.89,61.13,Alaska,738565.0,5.455172,47.936878,9.655172
4,8973-85630,AK,-149.86,61.14,Alaska,738565.0,5.455172,47.936878,9.655172
...,...,...,...,...,...,...,...,...,...
13603,74385-87621,WY,-105.59,41.32,Wyoming,583200.0,5.860870,50.348594,4.282609
13604,73320-24375,WY,-105.56,41.31,Wyoming,583200.0,5.860870,50.348594,4.282609
13605,22425-219024,WY,-105.56,41.31,Wyoming,583200.0,5.860870,50.348594,4.282609
13606,10849-103163,WY,-109.25,41.58,Wyoming,583200.0,5.860870,50.348594,4.282609
13607,10769-102454,WY,-106.94,44.77,Wyoming,583200.0,5.860870,50.348594,4.282609

In [24]:
store_count = final_df.groupby("State").count()["Store Number"]
store_count

State
Alabama             85
Alaska              49
Arizona            488
Arkansas            55
California        2821
Colorado           481
Connecticut        123
Delaware            25
Florida            694
Georgia            326
Hawaii              99
Idaho               67
Illinois           575
Indiana            221
Iowa                89
Kansas              94
Kentucky           116
Louisiana           84
Maine               30
Maryland           257
Massachusetts      273
Michigan           283
Minnesota          184
Mississippi         32
Missouri           188
Montana             36
Nebraska            58
Nevada             253
New Hampshire       29
New Jersey         261
New Mexico          76
New York           645
North Carolina     338
North Dakota        13
Ohio               378
Oklahoma            79
Oregon             359
Pennsylvania       357
Rhode Island        27
South Carolina     131
South Dakota        25
Tennessee          180
Texas             1042
Utah               101
Vermont              8
Virginia           432
Washington         757
West Virginia       25
Wisconsin          145
Wyoming             23
Name: Store Number, dtype: int64